% from base64 import urlsafe_b64encode
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiveAssets</title>
    <link type="text/css" rel="stylesheet" href="/static/css/styles.css">
    <script type="text/javascript" src="/static/javascript/script.js"></script>
</head>
<body>
    <audio id="notiferror" src="/static/sounds/Error.mp3" preload="auto"></audio>
    <audio id="notifsound" src="/static/sounds/Notification.mp3" preload="auto"></audio>
    <div id="notifications-container"></div>
    <iframe class="viewer" id="viewer" title="Model Loader Iframe" src='/model_loader_iframe/{{urlsafe_b64encode("Texture".encode("utf-8")).decode("ascii")}}/{{urlsafe_b64encode("%LOGO%".encode("utf-8")).decode("ascii")}}'></iframe>
    <div class="main">
        <div class="filtres" id="filtres"> <!--partie des filtres -->
            <form action="update" method="post">
                <h2>{{getlocale("translations.main.filters")}}</h2>
                
                <h3>{{getlocale("translations.main.assetstypes")}}</h3>
                <ul>
                    % for t in ASSETS_TYPES:
                    <li>
                        <input type="hidden" name="{{t}}" value="False" disabled>
                        <input type="checkbox" name="{{t}}" value="True" disabled>
                        <label>{{t}}</label>
                    </li>
                    % end
                </ul>
                
                <h3>{{getlocale("translations.main.filestypes")}}</h3>
                <ul>
                    <input type="checkbox" name="typef" disabled>
                    <select name="type" id="" disabled>
                        % for t in files_types:
                        <option value="{{t}}">{{t}}</option>
                        % end
                    </select>
                </ul>
                
                <h3>{{getlocale("translations.main.size")}}</h3>
                <ul>
                    <input type="checkbox" disabled>
                    <select name="size" id="" disabled>
                        % for ts in filtertexturessizes:
                        <option value="{{ts}}">{{ts}}</option>
                        % end
                    </select>
                </ul>
                <button disabled>{{getlocale("translations.main.applyfilters")}}</button>
            </form>
        </div>

        <div class="doc" id="doc"><!--partie des docs-->
            <div class="utils">
                <div class="div_bar_rec">
                    <form class="bar_rec" action="/" method="POST">
                        <button class="but" type="submit">🔍</button>
                        <input class="barr" name="search_query" type="text" autofocus placeholder="{{getlocale("translations.main.searchbar")}}">
                    </form>
                </div>

                <button onclick="location.reload();" class="settingsbtn">{{getlocale("translations.main.reload")}}</button>
                <button onclick="settings()" class="settingsbtn">{{getlocale("translations.main.settings")}}</button>
            </div>
            
            <div class="explorer">
                % for l in liste_des_fichiers:
                    %l[2] = l[2].replace("\\", "/")
                    % if l[1] == "Sound Waves":
                <button class="butimg" onclick="playaudio('/getaudiofile/{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}')" ondblclick="openfileonsystem('/openfileonsystem/{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}')" title="{{l[0]}}">
                    % else:
                <button class="butimg" onclick='reloadiframe("/model_loader_iframe/{{urlsafe_b64encode(l[1].encode("utf-8")).decode("ascii")}}/{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}")' ondblclick="openfileonsystem('/openfileonsystem/{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}')" title="{{l[0]}}">
                    % end
                    <div class="filecontent">
                        % if l[1] == "Texture":
                            <img class="imgexplorer" src="/texturespreview/{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}" loading="lazy" onmousedown="dragFile('{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}')" title="{{l[0]}}" onerror="refreshPreview(this)">
                        % else:
                            <img class="imgexplorer" src="/static/icons/unknown_file.png" loading="lazy" onmousedown="dragFile('{{urlsafe_b64encode(l[2].encode("utf-8")).decode("ascii")}}')" title="{{l[0]}}">
                        % end
                        <p class="filename">{{l[0]}}</p>
                        <p class="filetype">{{l[1]}}</p>
                    </div>
                </button>
                % end
            </div>
        </div>

        <div id="settings" class="divsettings invisible">
            <iframe title="settings" src="/settings" class="settings" id="settings-page"></iframe>
        </div>
        
    </div>
    <img src="/static/icons/HiveAssets.png" alt="logo" id="logo">
    <audio id="main-audio"></audio>
</body>
</html>