% from base64 import urlsafe_b64encode
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/css/settings.css">
    <title>Settings</title>
    <script>
        % if iframereload == True:
        window.parent.document.getElementById("viewer").src = window.parent.document.getElementById("viewer").src;
        % end
        % if reloadexplorer == True:
        window.parent.location.reload();
        % end
        window.addEventListener('DOMContentLoaded', () => {
            const scandirbutton = document.getElementById('scandirectory');
            scandirbutton.addEventListener('click', () => {
                window.parent.postMessage({ action: 'open-folder-dialog' }, '*');
            });
            const checkforupdate = document.getElementById('check-for-update');
            checkforupdate.addEventListener('click', () => {
                window.parent.postMessage({ action: 'check-for-update' }, '*');
            });
            % if checkforupdates == True:
            setTimeout(() => {
                window.parent.postMessage({ action: 'check-for-update' }, '*');
            }, 2500);
            % end
        });
        window.addEventListener('message', (event) => {
            console.info(event)
            if (event.data.action === 'folder-selected') {
                document.getElementById('repertoirepath').value = event.data.path;
                const but = document.getElementById('adddirectorytoconfig')
                but.click()
            }
        });
        function delrep(chemin){
            const del = document.getElementById('delr');
            del.value = chemin
        }
        function cache_deleted() {
            window.parent.postMessage({ action: 'cache_deleted' }, '*');
        }
        function uploadhdrionserver() {
            const file = document.getElementById('uploadhdri').files[0]
            if (!file) {
                return
            }

            const formdata = new FormData();
            formdata.append('file', file);

            fetch('/uploadhdri', {
                method: 'POST',
                body: formdata
            })
            .then(response => response.text())
            .then(result => {
                //showNotification("info", 'Le fichier a été envoyé !', 5000, null, null, "notiferror");
            })
            .catch(error => {
                //showNotification("error", `Erreur lors de l'envoi : ${error}`, 5000, null, null, "notifsound");
            });
        };
    </script>
</head>
<body>
    <form action="/settings" method="post">
        <h2>{{getlocale("translations.settings.scandir")}}</h2>
        <input id="scandirectory" name="repertoire" type="button" value="{{getlocale("translations.settings.adddirbutton")}}" />
        <input id="repertoirepath" name="repertoirepath" type="text" readonly hidden/>

        <button type="submit" name="action" value="add_repertoire" id="adddirectorytoconfig" hidden></button>
        <ul>
            % for f in scan_dir:
            <li>
                <p>{{f}}</p>
                <button type="submit" name="action" value="del_repertoire" onclick='delrep("{{urlsafe_b64encode(f.encode("utf-8")).decode("ascii")}}")'>
                    {{getlocale("translations.settings.delete")}}
                </button>
            </li>
            % end
            <input id="delr" type="hidden" name="dir_delete" value="">
        </ul>
        <h2>{{getlocale("translations.settings.3dviewoption")}}</h2>
        <select name="select_hdri">
            % for f in hdris:
                % if f == hdri:
            <option value="{{f}}" selected>{{f.replace("%HiveAssets%", "")}}</option>
                % else:
            <option value="{{f}}">{{f.replace("%HiveAssets%", "")}}</option>
                % end
            % end
            % if hdris == "":
            <option value="">{{getlocale("translations.settings.nonehdriinstalled")}}</option>
            % end
            % if hdri == "":
            <option value="" selected>{{getlocale("translations.settings.nonehdriselected")}}</option>
            % end
        </select>
        <button type="submit" name="action" value="remove_hdri">{{getlocale("translations.settings.takeoff")}}</button>
        <br>
        <br>
        <input id="uploadhdri" type="file" accept=".hdr,.hdri" onchange="uploadhdrionserver()" hidden>
        <button type="button" onclick="document.getElementById('uploadhdri').click()">{{getlocale("translations.settings.addhdri")}}</button>
        <h2 style="display: none;">Gestion des filtres :</h2>
        <h3 style="display: none;">Taille des textures :</h3>
        <h2>{{getlocale("translations.settings.appoptions")}}</h2>
        <p>{{getlocale("translations.settings.locale")}} :</p>
        <select name="select_locale">
            % for f in getlocales():
                % if f == locale:
            <option value="{{f}}" selected>{{f}}</option>
                % else :
            <option value="{{f}}">{{f}}</option>
                % end
            % end
        </select>
        <ul>
            <li>
                <input type="hidden" name="ignoreunknownfiles" value="False">
                <input type="checkbox" name="ignoreunknownfiles" value="True" {{iuf}}>
                <label>{{getlocale("translations.settings.ignoreunknownfiles")}}</label>
            </li>
        </ul>
        <button type="submit" name="action" value="save_options">{{getlocale("translations.settings.save")}}</button>
        <br>
        <p>{{getlocale("translations.settings.os")}} {{os}}</p>
        <p>{{getlocale("translations.settings.threadsnumber")}} {{NUM_WORKERS}}</p>
        <button id="check-for-update">{{getlocale("translations.settings.checkforupdates")}}</button>
        <br>
        <br>
        <button type="submit" name="action" value="delete_cache" onclick="cache_deleted()">{{getlocale("translations.settings.deletecache")}}</button>
    </form>
</body>
</html>